 @charset "utf-8";

 /* ヘッダー */
 div#header {
   position: fixed; /* 画面をスクロールしてもヘッダーを常に上部固定 */
   width: 100%; /* 横幅を画面一杯に設定 */
   height: 46px; /* ヘッダーの高さを設定 */
   background-color: #F8F8F8; /* 背景色の設定 */
   border-bottom: solid 1px #EEE; /* ヘッダーの下に1ピクセルの実線を設定 */
 }

 div#headerArea {
   margin: 0 auto; /* 横幅をautoにすることでコンテンツが中央寄りに設定 */
   width: 980px; /* ヘッダーコンテンツ部分の横幅を設定 */
 }

 /* ヘッダーロゴ */
 div#header_logo {
   float: left; /* ロゴ表示部分を左寄せで設定 */
   padding: 12px 0 0 0; /* ロゴ表示部分の上に余白12ピクセルを設定 */
   font-weight: bold; /* ロゴのテキストを太字に設定 */
   color: #777777; /* ロゴの色を設定 */
 }
 
 /* グローバルナビゲーション */
 div#gnavi {
   float: right; /* グローバルナビゲーション部分を右寄せで設定 */
   margin: 12px 0 0 0; /* 上部に12ピクセルの余白を設定 */
   text-align: right; /* コンテンツの中身を右寄せで設定 */
 }

 div#gnavi ul{
   clear: both; /* 回り込みを解除する際に使用しdiv要素が重ならないように設定 */
   list-style: none;
 }

 div#gnavi li {
   padding: 0 0 0 20px; /* 左に20ピクセルの余白を設定 */
   float: left; /* リストを左寄せで横並びになるよう設定 */
 }
 
 /* リンク */
 a:link {
   color: #006DD9; /* リンクテキストを青色に設定 */
   text-decoration: none; /* テキストに下線が表示されないように設定 */
 }

 a:hover {  /* hoverはマウスを乗せたときの設定 */
   color: #cd4730; /* リンクテキストを赤色に設定 */
   text-decoration: underline; /* テキストに下線が表示されないように設定 */
 }
 
  h1{
   margin-bottom: 10px;  /* h1の下に10pxの余白を設定 */
   font-size: 182%; /* フォントサイズを元サイズの182%で表示 */
   font-weight: bold; /* 太字 */
   line-height: 2.0em; /* 上下に半行余白の段落の高さを設定 */
   color: #FFF; /* フォントの色を白に設定 */
 }

 /* メインパネル */
 div#main_panel {
   padding: 46px 0 0 0; /* メインパネル上部に46ピクセルの余白を設定 */
   height: 400px; /* メインパネルの高さを400pxに設定 */
   background: url(sample_base/main-bg.jpg) no-repeat center center;
   /* 背景を中央寄せで繰り返しなしで設定 */
   background-size: cover; /* 背景画像をフルスクリーンで表示 */
 }

 div#main_panelArea {
   margin: 0 auto; /* 横幅をautoにすることでコンテンツが中央寄りになります */
   padding: 90px 0 0 0; /* メインパネルコンテンツ上部に90ピクセルの余白を設定 */
   width: 980px; /* 横幅を980ピクセルで設定 */
 }
 
 p {
   padding: 10px 0 ; /* ホームページ全体の段落要素に上下10ピクセルの余白を設定します */
 }


 div#main_panelArea p{
   color: #FFF; /* フォントテキストに白色を設定します */
 }
 
 div#main_panelArea .button {
   background-color: #1abc9c; /* 背景色を設定 */
   border-radius: 4px; /* ボタンの角丸を設定 */
   color: #fff; /* ボタンのテキストを白色に設定。 */
   line-height: 52px; /* 段落の高さを52ピクセルに設定 */
   box-shadow: 0 3px 0 #0e8c73; /* ボタンに影を設定 */
   padding: 16px 30px; /* ボタン上下に16ピクセル、ボタン左右に30ピクセルの余白を設定 */
 }

 div#main_panelArea .button:hover { /* ボタンにマウスが乗ったとき */
   background-color: #31c8aa; /* ボタンの背景色を変更 */
 }
 
 h2{
  margin-bottom: 10px; /* h2タグの下部に10ピクセルの余白を設定 */
  font-size: 138.5%; /* フォントサイズを元サイズの138.5%で表示 */
  font-weight: bold; /* 太字 */
  line-height: 2.0em; /* 上下に半行余白の段落の高さを設定 */
  border-bottom: dotted 1px #999;  /* h2タグの下に1ピクセルの点線を設定 */
}

/* コンテンツエリア グレー背景 */
 div.content_g {
   padding: 60px 0; /* コンテンツエリアの上下に60ピクセルの余白を設定 */
   width: 100%; /* 横幅を画面一杯に設定 */
   background: #F8F8F8;  /* 背景色をグレーに設定 */
   border-bottom: solid 1px #EEE; /* コンテンツエリア下に1ピクセルの実線を設定 */
   height:auto; /* 高さを自動調節（この設定がないと高さが認識されない） */

 }

 div.content_gArea {
   margin: 0 auto; /* 横幅をautoにすることでコンテンツが中央寄りに設定 */
   width: 980px; /* 横幅設定 */
 }

 div.content_gArea .main {
   float:left; /* 左寄せ設定 */
   width: 520px; /* 横幅設定 */
   line-height: 2.0em; /* 上下に半行余白の段落の高さを設定 */
 }

/* 赤文字 */
.red {
  color: #CC0000;
}

/* 太文字 */
.bold {
  font-weight: bold;
}

div.content_gArea .side {
   float:right; /* 右寄せ設定 */
   width: 460px; /* 横幅設定 */
   text-align: right; /* 画像を右に寄せる */
 }

.side img {
   -moz-border-radius:10px;/* Firefox用の角丸設定 */
   -webkit-border-radius:10px; /* Safari,Google Chrome用の角丸設定 */
   border-radius:10px; /* 角丸設定 */
 }
 
 /* コンテンツエリア */
 div.content {
   padding: 60px 0; /* コンテンツエリアの上下に60ピクセルの余白を設定 */
   width: 100%; /* 横幅を画面一杯に設定 */
   border-bottom: solid 1px #EEE; /* コンテンツエリア下に1ピクセルの実線を設定 */

 }

 div.contentArea {
   margin: 0 auto; /* 横幅をautoにすることでコンテンツが中央寄りに設定 */
   width: 980px; /* 横幅設定 */
   line-height: 2.0em; /* 上下に半行余白の段落の高さを設定 */
 }

 div.contentArea .main {
   float:right; /* 右寄せ設定 */
   width: 520px; /* 横幅設定 */
 }
 
 div.contentArea .side {
   float:left; /* 左寄せ設定 */
   width: 460px; /* 横幅設定 */
 }
 
 /* フッター */
 div#footer {
   width: 100%; /* 横幅を画面一杯に設定 */
   height: 180px; /* 縦幅設定 */
   background: #F8F8F8; /* 背景色設定 */
   font-size: 85%; /* フォントサイズを元サイズの85%で表示 */
 }

 div#footerArea {
   padding: 46px 0 0 0; /* フッターエリアの上に46ピクセルの余白を設定 */
   margin: 0 auto; /* 横幅をautoにすることでコンテンツが中央寄りに設定 */
   width: 980px; /* 横幅設定 */
 }

 /* フッタナビゲーション */
 div#footer_nav {
   float: left; /* 左寄せ設定 */
   margin: 12px 0 0 0; /* ナビゲーションの上に12ピクセルの余白を設定 */
   text-align: left; /* テキストを右に寄せる */
 }

 div#footer_nav ul{
   clear: both; /* floatを解除する */
   list-style: none;
 }

 div#footer_nav li {
   padding: 0 20px 0 0; /* 右に20ピクセルの余白を設定 */
   float: left; /* リストを左寄せで横並びになるよう設定 */
   list-style: none;
  
 }
 
 /* フッタコピーライト */
 div#footer_copy {
   clear: both; /* floatを解除する */
   float: left; /* 左寄せ設定 */
   margin: 12px 0 0 0; /* 上に12ピクセルの余白を設定 */
 }